body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /* padding: 10px; */
    margin: 0;
    padding: 0;
    text-align: center;
}
iframe {
    width: 100vw;
    max-width: 70vw;
    height: 100vh;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
h1 {
    color: #333;
}